.site-hero { 
  background-color: #014e56;
  background-image: url("../../images/bg-img-1.png"), url("../../images/bg-img-2.png");
  background-repeat: no-repeat;
  background-size: 200px, 290px;
  background-position: calc(50% - 770px) calc(50% - 75px),
  calc(50% + 400px) calc(100%);
   

}
.site-hero__inner {
  @include flex-starter;
  align-items: flex-end;
  padding-top: 129px;
  padding-bottom: 250px;
}

.site-hero__title {
  width: 100%;
  max-width: 635px;
  font-size: 100px;
  line-height: 100px;
  color: #ffffff;
  margin: 0;
}
.site-hero__span-1 {
  display: block;
}
.site-hero__span {
  color: #f67e7e;
}


.site-hero__text {
  width: 100%;
  max-width: 445px;
  margin: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;

  &::before {
    display: block;
    position: relative;
    bottom: 79px;
    width: 50px;
    height: 4px;
    background-color: #79c8c7;
    content: "";
  }
}



//--------------------- responsive ---------------------//
@include max-width(1116px) {
  .hero-wrapper::before {
    display: none;
  }

  .hero-wrapper::after {
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

}

@include max-width(860px) {

  .site-hero__title {
    margin-right: 40px;
    font-size: 82px;
    line-height: 66px;
  }

  
}

@include max-width(768px) {
  .site-hero {
    background-image: url("../../images/bg-img-2.png");
    background-position:calc(50%) calc(100%);
    background-size: 358px, 200px;

  }
 
  .site-hero__inner {
    flex-direction: column;
    text-align: center;
    padding-top: 58px;
    padding-bottom: 256px;
  }

  .site-hero__title {
    width: 100%;
    max-width: 683px;
    margin-right: auto;
    margin-bottom: 24px;
    margin-left: auto;
    text-align: center;
    font-size: 64px;
    line-height: 56px;
  }
  .site-hero__box {
    width: 100%;
    max-width: 457px;
    margin-left: auto;
    margin-right: auto;
    


  }

  .site-hero__text {
    width: 100%;
    font-size: 15px;
    line-height: 28px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    &::before {
      display: none;
    }
  }

 


}

@include max-width(576px) {
 
  .site-hero__inner {
    padding-top: 32px;
    padding-bottom: 197px;
  }

  .site-hero__title {
    width: 100%;
    max-width: 327px;
    margin-bottom: 18px;
    margin-right: auto;
    margin-left: auto;
    font-size: 40px;
    line-height: 40px;
  }
  .site-hero__box {
    max-width: 327px;
    
  }

  .site-hero__text {
    font-size: 15px;
    line-height: 28px;

    }
  }



 


